#li:hover {
    text-shadow: 0px 0px 6px white;
}

#login_btn {
    color: #0D6EFD;
    background-color: white;
    outline: none;
    border: none;
}

#login_btn:hover {
    outline: none;
    border: none;
    color: white;
    background-color: #0D6EFD;
}
